<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'sale/base.html' %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="col-sm-17 col-md-12 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>What is Jenga Biz?</h3>
                 <p>Jenga Biz is an app that allows small scale business owners to automate bookkeeping activities.</p>
                 <h3>How do use the it ?</h3>
                 <p>After creating an account?</p>
                 <ul>
                 <li>Update current stock</li>
                 <li>Record daily sales</li>
                 <li>Record daily expenses</li>
                 <li>Compute expected daily cash balance</li>
                 </ul>
            </div>
         </div>
    </div>
{% endblock  %}
</body>
</html>